.link-savedvideos{
    all: unset;
    width: 90%;
    display: flex;
    margin-bottom: 60px;
}
.savedvideos-card-thumbnail{
    width: 360px;
    height: 200px;
}
.savedvideos-card-detail-container{
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}
.savedvideos-card-profile-img{
    width: 35px;
    display: none;
}
.savedvideos-card-title{
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 22px;
}
.savedvideos-card-name{
    margin-top: 0px;
    margin-bottom: 12px;
}
.savedvideos-card-vedio-count{
    margin-top: 0px;
}


@media screen and (max-width:768px) {
    .link-savedvideos{
        width: 100%;
    }
    .savedvideos-card-title{
        font-size: 16px;
    }
}
@media screen and (max-width:576px) {
    .link-savedvideos{
        width: 360px;
        margin-right: auto;
        flex-direction: column;
    }
    .savedvideos-card-name-box{
        display: flex;
    }
    .savedvideos-card-profile-img{
        display: block;
    }
    .savedvideos-card-detail-container{
        width: 360px;
    
    }
}