.videoDetailPage{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vedio-detail-description-box{
    padding: 30px 20px;
}
.react-player{
    width: 100%;
    height: 600px;
}

.view-count-and-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-dislike-btn-box{
    display: flex;
    align-items: center;
    color: #64748b;
    font-weight: bold;
}

.like-dislike-btn-box button{
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    color: #64748b;
    font-weight: bold;
}
.like-dislike-btn-box button svg{
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.like-box{
    display: flex;
    align-items: center;
}

.save-video-box{
    display: flex;
    align-items: center;
}
.dislike-box{
    display: flex;
    align-items: center;
}

.vedio-detail-page-profile-img{
    width: 48px;
    margin-right: 15px;
}
.video-detail-profile-box >div{
    display: flex;
    align-items: center;
}

.video-detail-profile-description{
    margin-left: 63px;
}

@media screen and  (max-width: 576px) {
    
    .view-count-and-btn-box{
       flex-direction: column;
       align-items: flex-start;
    }
    .react-player{
        height: 300px;
    }
    .video-detail-profile-description{
        margin-left: 0px;
        font-size: 15px;
    }
    
    
}