.layout-component {
    width: 100%;
}

/* layout header */


.layout-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.layout-app-logo-light {
    width: 120px;
    margin-left: 45px;
    cursor: pointer;
}

.nav-menu-box {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    margin-right: 20px;
}

.profile-light {
    width: 32px;
}


.menu-btn-icon svg{
    width: 24px;
    display: none;
}
.logout-icon svg{
    display: none;
}

.darkmode-icon {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.logout-btn {
    border: 1px solid #3b82f6;
    background-color: transparent;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 12px;
    border-radius: 3px;
    cursor: pointer;
}
.darktheme-logout-btn{
    border: 1px solid #ffffff;
}

/* layout body */

.layout-body {
    display: flex;
}


/* side bar */

.layout-sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91.2vh;
}

.side-bar-menu-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0f0f0f;
    height: 42px;
    cursor: pointer;
}

.menu-item svg {
    width: 14px;
    margin: 0px 20px 0px 18px;
    background: transparent;
}

.active-menu-item {
    font-weight: bold;
}


.side-bar-footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.side-bar-footer p {
    font-weight: 400;
    line-height: 22px;
}

.side-bar-footer-logo-box {
    display: flex;
}

.side-bar-footer-logo-box img {
    margin: 0px 6px;
    width: 30px;
}

.side-bar-footer-logo-box :first-child {
    margin: 0;
}

.layout-page-section {
    width: 100%;
    overflow-y: scroll;
    height: 91.2vh;
    display: flex;
}






@media screen and (max-width:768px) {

    .layout-sidebar {
        display: none;
    }

    .layout-header {
        height: 35px;
        margin-top: 6px;
    }

    .nav-menu-box {
        width: 120px;
    }


    .layout-app-logo-light {
        width: 100px;
        margin-left: 15px;
    }


    .profile-light {
        display: none;
    }

    .darkmode-icon {
        margin-right: 0;
    }

    .logout-btn {
        display: none;
    }

    .menu-btn-icon svg{
        display: inline-block;
    }
    .logout-icon svg{
        display: inline-block;
        width: 24px;
    }
    

}