.gaming-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gaming-page-vedio-container{
    display: flex;
    padding-left: 40px;
    padding-top: 50px;
    flex-wrap: wrap;
}


@media screen and (max-width:768px) {
    .gaming-page-vedio-container{
        margin: auto;
        padding-left: 0;
        padding-top: 20px;
    }
}
